:root {

    /* Primary Theme */
    --primary-color: #020409;
    --primary-hover: #364fc7;    
    --background-color: #08223d; 
    --text-color: #222;    
    --border-radius: 12px;
    --shadow: 0 4px 12px rgba(67, 97, 238, 0.08); 
    --disabled-color: #e0e0e0;
    --disabled-text: #888; 
    --transition: all 0.3s cubic-bezier(.4,0,.2,1);
    --text-hover: #3b55d9; 

    /* Navbar */
    --navbar-color: #ffffff;

    /* Footer */
    --footer-color: #000000;
    --footer-text-color: #f8f9fa;

    /* Trivia Creator */
    --correct-color: #2ecc71;
    --incorrect-color: #e74c3c;
    --background-color-creator: #f8f9fa;

    /* Trivia */
    --trivia-card-width: 70vw; 
    --trivia-card-height: 55vh;
    --trivia-transition-duration: 0.6s;
    --trivia-shadow-color: rgba(67, 97, 238, 0.12);
    --trivia-border-radius: 12px;
    --trivia-background-color-front: #ffffff;
    --trivia-background-color-back: #4361ee;
    --trivia-background-color-option: #4361ee;
    --trivia-background-color-option-hover: #142658;
    --trivia-background-color-correct: #2ecc71;
    --trivia-background-color-incorrect: #e74c3c;
}

   
  

html {
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--text-color);
}

body{
  margin: 0;
}

h2{
  word-break: break-word;
  overflow-wrap: break-word;
}

p{
  word-break: break-word;
  overflow-wrap: break-word;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1rem;
  font-weight: bold;
}

button:hover:not(:disabled) {
  background-color: var(--primary-hover);
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 4px 16px rgba(67, 97, 238, 0.13);
}

button:disabled {
  background-color: var(--disabled-color);
  color: var(--disabled-text);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}



*, *::before, *::after {
  box-sizing: border-box;
}