.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: fit-content;
  height: fit-content;
}

.mode-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  width: 85vw;
}

.mode-selector button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
  font-weight: bold;
}

/* Estilo para el botón de crear trivias (primer hijo) */
.mode-selector button:first-child:hover {
  background: linear-gradient(135deg, #4CAF50, #2E7D32);
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}

/* Estilo para el botón de jugar trivias (segundo hijo) */
.mode-selector button:last-child:hover {
  background: linear-gradient(135deg, #2196F3, #1565C0);
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}

.ayuda_button{
  position: absolute; 
}

.ayuda_button button{
  border: rgb(255, 255, 255) 1px solid;
}

.ayuda_button button:hover{
  background: linear-gradient(135deg, #673a6d, #380c52);
}


.ayuda-container{
  position: absolute;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  text-align: center;
}
  



/* Animación para transición entre estados */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5vh); }
  to { opacity: 1; transform: translateY(0); }
}

.Menu > * {
  animation: fadeIn 0.5s ease-out;
}

.ModeSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
}