.PlaySection {
  margin: 0 auto;
  position: relative;
  padding: 1rem;
  min-width: 98vw;
  min-height: 85vh;
}

.PlayButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.trivia-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}



/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination span {
  font-size: 1.3rem;
  color: #ffffff;
}

.pagination button  {
  margin: 0 0.5rem;
}

.loading-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  color: white;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: clamp(1rem, 4vw, 2rem);
  color: #ffffff;
  padding: 2rem;
}

.ConfigTrivia {
  min-height: 85vh;
}

.deck-config {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: var(--border-radius);
}

.deck-config-menu {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
}

.deck-config-menu p {
  font-size: clamp(1rem, 1.1rem, 2rem);

  color: #333;
}

.deck-config-menu input[type="number"] {
  width: clamp(50px, 80px, 100px);
  max-width: 10vw;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.deck-config-menu #multiple-choice {
  margin-left: auto;
  margin-right: 0;
  width: 25px;
  height: 25px;
}


.deck-config button {
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deck-config select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
}

@media (max-width: 950px) {
  .trivia-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .trivia-list {
    grid-template-columns: 1fr;
  }
}


