.PlaySection {
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}

.PlayButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.trivia-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

@media (max-width: 950px) {
  .trivia-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .trivia-list {
    grid-template-columns: 1fr;
  }
}

/* Paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination span {
  font-size: 1.3rem;
  color: #ffffff;
}

.pagination button  {
  margin: 0 0.5rem;
}

.loading-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  color: white;
}
