.preguntaTarjetaOpciones {
  width: var(--trivia-card-width);
  height: var(--trivia-card-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px var(--trivia-shadow-color);
  border-radius: var(--trivia-border-radius);
  background-color: var(--trivia-background-color-front);
  padding: clamp(0.5rem, 2vw, 1.5rem);
}

.PreguntaOpciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  gap: clamp(0.5rem, 2vw, 1rem);
  padding: clamp(0.5rem, 2vw, 1rem);
}

.preguntaOpcion {
  font-size: clamp(1rem, 2vw, 1.5rem);
  transition: all 0.3s ease;
  text-align: center;
  min-height: clamp(60px, 10vh, 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px var(--trivia-shadow-color);
  word-break: break-word;

}

.preguntaOpcion:hover:not(:disabled) {
  background-color: var(--trivia-background-color-option-hover)!important;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px var(--trivia-shadow-color);
}

.preguntaOpcion.correcta {
  background-color: var(--trivia-background-color-correct) !important;
  animation: pulse 0.5s ease;
  transform: none;
}

.preguntaOpcion.incorrecta {
  background-color: var(--trivia-background-color-incorrect) !important;
  animation: shake 0.5s ease;
  transform: none;
}

.PreguntaOpciones .preguntaOpcion:disabled.correcta,
.PreguntaOpciones .preguntaOpcion:disabled.incorrecta {
  opacity: 1;
}

.preguntaOpcion:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}


@media (max-width: 768px) {

  .preguntaTarjetaOpciones {
    height: 100%;
    padding: 1rem;
  }

  .PreguntaOpciones {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }
  
  .preguntaOpcion {
    padding: 0.8rem;
    font-size: 1rem;
    min-height: 50px;
  }
}

